---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Marissa and Adrian's Wedding">
  <main>
    <div>
      <div>
        <h1>
          <span>Marrisa & Adrian</span>
          <span>are getting married!</span>
        </h1>
      </div>
      <div>
        <p>5:00pm - 10:00pm</p>
        <p>November 11th, 2023</p>
        <p>The Riley Building</p>
        <p>Austin, TX</p>
      </div>
    </div>
    <div>
      <img src="" alt="" />
    </div>
  </main>
</Layout>
