---
export const prerender = true;

import Hero from "@components/Hero.astro";
import Layout from "@layouts/Layout.astro";
import TimelinePhoto from "@components/TimelinePhoto.astro";

const timelineItems = [
  {
    id: 1,
    title: "Met: 2012",
    src: "oasis",
    extension: "webp",
    alt: "",
    year: "2012",
    caption: "We met!",
    description: "Dolor nostrud reprehenderit ipsum esse dolore minim.",
  },
  {
    id: 2,
    title: "Moved in together: 2016",
    src: "moved-in2",
    extension: "webp",
    alt: "",
    year: "2016",
    caption: "Moved in together",
    description: "Dolor nostrud reprehenderit ipsum esse dolore minim.",
  },
  {
    id: 3,
    title: "Moved to CDMX: 2019",
    src: "castillo",
    extension: "webp",
    alt: "",
    year: "2019",
    caption: "Moved to CDMX",
    description: "Dolor nostrud reprehenderit ipsum esse dolore minim.",
  },
  {
    id: 4,
    title: "Moved back to Austin: 2020",
    src: "back-to-austin",
    extension: "webp",
    alt: "",
    year: 2020,
    caption: "Moved back to Austin",
    description: "Dolor nostrud reprehenderit ipsum esse dolore minim.",
  },
  {
    id: 5,
    title: "Engagement: 2021",
    src: "engaged2",
    extension: "webp",
    alt: "",
    year: 2021,
    caption: "We got engaged!",
    description: "Dolor nostrud reprehenderit ipsum esse dolore minim.",
  },
  {
    id: 6,
    title: "Wedding: 2023",
    src: "photo1",
    extension: "jpg",
    alt: "",
    year: 2023,
    caption: "We're getting married!",
    description: "Dolor nostrud reprehenderit ipsum esse dolore minim.",
  },
];
---

<style is:global>
  .animate-scale-up {
    @apply lg:scale-125;
  }
</style>

<Layout title="Our Story">
  <main>
    <Hero title="Our Story" />
    <div class="container max-w-2xl mx-auto pb-40 lg:-mt-40 font-serif">
      {timelineItems.map((item) => <TimelinePhoto {...item} />)}
    </div>
  </main>
</Layout>

<script>
  import { isMobile } from "@lib/helpers";

  const timelinePhotoEls = document.querySelectorAll(".timeline-photo");

  const timelinePhotoObserver = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.add("animate-scale-up");
        } else {
          entry.target.classList.remove("animate-scale-up");
        }
      });
    },
    { threshold: 0.5 }
  );

  if (!isMobile()) {
    timelinePhotoEls.forEach((el) => timelinePhotoObserver.observe(el));
  }
</script>
