---
import Hero from "@components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Slide from "@components/Slide.astro";

const slideItems = [
  {
    title: "Met: 2012",
    src: "/",
    alt: "",
    caption: "",
  },
  {
    title: "Moved in together: 2016",
    src: "/",
    alt: "",
    caption: "",
  },
  {
    title: "Moved to CDMX: 2019",
    src: "/",
    alt: "",
    caption: "",
  },
  {
    title: "Moved back to Austin: 2020",
    src: "/",
    alt: "",
    caption: "",
  },
  {
    title: "Engagement: 2021",
    src: "/",
    alt: "",
    caption: "",
  },
  {
    title: "Wedding: 2023",
    src: "/",
    alt: "",
    caption: "",
  },
];
---

<!-- Demo styles -->
<style>
  html,
  body {
    position: relative;
    height: 100%;
  }

  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-slide {
    width: 60%;
  }

  .swiper-slide:nth-child(2n) {
    width: 40%;
  }

  .swiper-slide:nth-child(3n) {
    width: 20%;
  }
</style>

<Layout title="Our Story">
  <main>
    <Hero title="Our Story" />
    <div class="swiper timelineSwiper">
      <div class="swiper-wrapper">
        {slideItems.map((item) => <Slide {...item} />)}
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </main>
</Layout>

<script>
  // core version + navigation, pagination modules:
  import Swiper, { Navigation, Pagination } from "swiper";
  // import Swiper and modules styles
  import "swiper/css";
  import "swiper/css/navigation";
  import "swiper/css/pagination";

  // init Swiper:
  var swiper = new Swiper(".timelineSwiper", {
    slidesPerView: "auto",
    centeredSlides: true,
    spaceBetween: 30,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
  });
</script>
