---
import Hero from "@components/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Our Story">
  <main>
    <Hero title="Our Story" />
    <ul>
      <li>Met: 2012</li>
      <li>Moved in together: 2016</li>
      <li>Moved to CDMX: 2019</li>
      <li>Moved back to Austin: 2020</li>
      <li>Engagement: 2021</li>
      <li>Wedding: 2023</li>
    </ul>
  </main>
</Layout>
