---
import Hero from "@components/Hero.astro";
import Layout from "@layouts/Layout.astro";
import Slide from "@components/Slide.astro";

const slideItems = [
  {
    title: "Met: 2012",
    src: "berlin-wall",
    extension: "webp",
    alt: "",
    caption: "",
  },
  {
    title: "Moved in together: 2016",
    src: "berlin-wall",
    extension: "webp",

    alt: "",
    caption: "",
  },
  {
    title: "Moved to CDMX: 2019",
    src: "berlin-wall",
    extension: "webp",

    alt: "",
    caption: "",
  },
  {
    title: "Moved back to Austin: 2020",
    src: "berlin-wall",
    extension: "webp",

    alt: "",
    caption: "",
  },
  {
    title: "Engagement: 2021",
    src: "berlin-wall",
    extension: "webp",

    alt: "",
    caption: "",
  },
  {
    title: "Wedding: 2023",
    src: "berlin-wall",
    extension: "webp",
    alt: "",
    caption: "",
  },
];
---

<style is:global>
  .swiper-slide-active img {
    @apply transition-transform duration-500 ease-in-out scale-125;
  }
  .swiper-backface-hidden .swiper-slide {
    @apply scale-75;
  }
</style>
<Layout title="Our Story">
  <main>
    <Hero title="Our Story" />
    <div class="swiper timelineSwiper w-full h-full pt-20 pb-20">
      <div class="swiper-wrapper">
        {slideItems.map((item) => <Slide {...item} />)}
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </main>
</Layout>

<script>
  // core version + navigation, pagination modules:
  import Swiper, { Navigation, Pagination } from "swiper";
  // import Swiper and modules styles
  import "swiper/css";
  import "swiper/css/navigation";
  import "swiper/css/pagination";

  // init Swiper:
  const swiper = new Swiper(".timelineSwiper", {
    modules: [Navigation, Pagination],
    slidesPerView: "auto",
    centeredSlides: true,
    spaceBetween: 50,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>
