---
export const prerender = false;

import Layout from "@layouts/Layout.astro";
import RSVP from "@components/RSVP";
import Hero from "@components/Hero.astro";
---

<Layout title="RSVP">
  <main class="container mx-auto font-serif max-w-3xl">
    <Hero title="RSVP" />
    <section class="pb-20">
      <RSVP client:only />
    </section>
  </main>
</Layout>
