---
import Layout from "@layouts/Layout.astro";
import RSVP from "@components/RSVP";
---

<Layout title="RSVP">
  <main class="container mx-auto font-serif max-w-3xl">
    <h1 class="text-4xl font-bold font-display text-center py-12">RSVP</h1>
    <p class="text-lg text-center">
      Please let us know if you will be able to attend our wedding on <strong
        class="underline">November 11, 2023</strong
      > by filling out the form below.
    </p>
    <RSVP />
  </main>
</Layout>
