---
import Layout from "@layouts/Layout.astro";
import RSVP from "@components/RSVP";
---

<Layout title="RSVP">
  <main class="container mx-auto font-serif max-w-3xl">
    <h1 class="text-4xl font-bold font-display text-center py-12">RSVP</h1>
    <RSVP client:only />
  </main>
</Layout>
