---
const { title } = Astro.props;
---

<section class="container mx-auto font-serif max-w-3xl">
  <div>
    <h1 class="text-6xl font-bold font-display text-center pt-20 pb-24">
      {title}
    </h1>
    <slot />
  </div>
</section>
