---
import logoIcon from "@assets/icons/logo-burgundy.svg";

const menuItems = [
  {
    title: "Our Story",
    path: "/our-story",
  },
  {
    title: "Schedule",
    path: "/schedule",
  },
  {
    title: "RSVP",
    path: "/rsvp",
  },
  {
    title: "Registry",
    path: "https://www.myregistry.com/wedding-registry/marissa-caputo-and-adrian-haynes-austin-tx/3775564/giftlist",
  },
  {
    title: "Where to Stay",
    path: "/where-to-stay",
  },
  {
    title: "Things to Do",
    path: "/things-to-do",
  },
  {
    title: "FAQs",
    path: "/faqs",
  },
];
---

<nav class="p-4">
  <ul
    class="container font-serif mx-auto flex flex-col lg:flex-row lg:gap-3 justify-evenly text-lg"
  >
    <li class="basis-1/5">
      <a href="/">
        <img src={logoIcon} alt="" />
      </a>
    </li>
    {
      menuItems.map((item, index) => (
        <>
          <li>
            <a
              href={item.path}
              class="flex lg:px-3 py-2 text-gray-600 hover:text-gray-900"
            >
              {item.title}
            </a>
          </li>
        </>
      ))
    }
  </ul>
</nav>
