---
import Navbar from "@components/Navbar.astro";
import Hero from "@components/Hero.astro";
import "../styles/global.css";
import "@fontsource-variable/noto-serif-display";
import "@fontsource/merriweather";

export interface Props {
  title: string;
}

const { title } = Astro.props;
const { frontmatter } = Astro.props as any;
---

<!DOCTYPE html>
<html lang="en" class="min-h-full">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Adrian & Marissa are getting married on November 11th, 2023 in Austin TX"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <meta
      property="og:title"
      content="Adrian & Marissa are getting married on November 11th, 2023 in Austin TX"
    />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/social-media-image.jpg" />
    <title>{frontmatter.title}</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XE24XZYQ7M"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-XE24XZYQ7M");
    </script>
  </head>

  <body>
    <header>
      <Navbar />
    </header>
    <Hero title={frontmatter.title} />
    <main
      class="prose lg:prose-xl font-serif container mx-auto pb-12 prose-h3:mb-8 prose-h4:mb-8"
    >
      <slot />
    </main>
  </body>
</html>
