---
import Hero from "@components/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Where to Stay">
  <main>
    <Hero title="Where to Stay" />
    <section>
      <h2>Hotel</h2>
      <p>
        We have reserved a block of rooms at TBD. Book your room before DATE to
        stay in our block.
      </p>
    </section>
    <section>
      <h2>AirBnb</h2>
      <p>
        There are many vacation rental options in Austin! Here are our
        neighborhood suggestions if you go this route:
      </p>
      <h3>Downtown</h3>
      <p>
        Downtown is where you’ll find everything from the Texas State Capitol,
        to live music venues, to some of the best restaurants and bars in the
        city. This is where the venue is located so you will be able to easily
        walk, pedicab, or Uber to the reception.
      </p>
      <h3>South Congress / South Lamar / South First</h3>
      <p>
        These neighborhoods are very walkable to many restaurants and shops.
        South of the river (and downtown), but still very close to the venue.
        You’ll be able to easily Uber to the reception.
      </p>
      <h3>Zilker & Barton Hills</h3>
      <p>
        If you want to stay somewhere closer to nature but still be in the city,
        this is the spot for you. These neighborhoods are next to Zilker Park,
        Barton Springs (open all year!), and the Greenbelt.
      </p>
      <h3>Clarksville & Tarrytown</h3>
      <p>
        Two of the oldest and most historic neighborhoods in Austin. Close
        enough to downtown that you can see the skyline in the distance, but it
        feels much quieter and more residential.
      </p>
    </section>
  </main>
</Layout>
